@model IEnumerable<BO.BODepartment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CompanySharedView.cshtml";
}
<div class="container">
    <h2>List Of Departments</h2>
    <hr />
    <div class="container">
        <table class="table table-bordered table-hover">
            <tr class="success">
               
                <th>
                    @Html.DisplayName("Department Name")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HOD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HOD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditDepartment", new { id = item.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Details", "DetailsDepartment", new { id = item.Id }, new { @class = "btn btn-info" })


                        @Html.ActionLink("Delete", "DeleteDepartment", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


