@using PagedList.Mvc;
@using PagedList;

@model IPagedList<BO.BODepartment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CompanySharedView.cshtml";
}
<div class="container">
    <h2>List Of Departments</h2>
    <hr />
    <div class="container">
        @using (Html.BeginForm("Index", "Company", FormMethod.Get))
        {
            <b>Search Department</b>
    
             @Html.TextBox("search", null, new { @class = "form-control" })
  
            <br />
            <input type="submit" value="Search" class="btn btn-primary" />
        }
    </div>
    <hr />
    <div class="container">
        <table class="table table-bordered table-hover">
            <tr class="success">
               
                <th>
                    @Html.DisplayName("Department Name")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().HOD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Email)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HOD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditDepartment", new { id = item.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Details", "DetailsDepartment", new { id = item.Id }, new { @class = "btn btn-info" })


                        @Html.ActionLink("Delete", "DeleteDepartment", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index",
                            new
                            {
                                page,
                                search = Request.QueryString["search"],

                            }

                 ), new PagedListRenderOptions()
                 {
                     Display = PagedListDisplayMode.IfNeeded
                 }

        )
    </div>
</div>


