
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Appointment Scheduler</title>

<<<<<<< HEAD
   
=======
>>>>>>> master

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@

<<<<<<< HEAD
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/VIPScheduleByAdmin.js"></script>



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
=======
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/notification/notificationCompany.js"></script>
>>>>>>> master


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*@Html.ActionLink((string)@ViewBag.Companyname, "Index", "Company", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Departments", "Index", "Company")</li>
                    <li>@Html.ActionLink("Create Department", "CreateDepartment", "Company")</li>
                    <li>@Html.ActionLink("VIP", "VIP", "Company")</li>
                    <li>@Html.ActionLink("CreateVIP", "RegisterVIP", "Account")</li>
                    <li>@Html.ActionLink("Create Meeting", "CreateMeetingOne", "Company")</li>
                    <li>@Html.ActionLink("View Meeting", "ViewMeetingOne", "Company")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"> Notification (<span id="countNotify">0</span>) <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="myNotifyList"></ul>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="min-height:500px">
            @RenderBody()
        </div>
        <hr />
        <div class="navbar navbar-inverse navbar-fixed-bottom">

            <footer style="color:white">
                <p>&copy; @DateTime.Now.Year - TeamPlus</p>
            </footer>

        </div>
    </div>

    <div class="modal fade" id="myModal5" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        <img src="../assets/img/nty.png" style="height: 50px; width: 50px">
                        Notifications
                    </h4>
                </div>
                <div class="modal-body" id="myAllNotifications">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>
